* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: white;
}

body  {
  background: url(./bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form {
  background: rgba(27, 31, 34, 0.8);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  padding: 55px 30px;
}

form .title h2 {
  letter-spacing: 5px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half {
  display: flex;
  justify-content: space-between;
}

form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form .half-2 .item-2 {
  display: grid ;
  width: 100%;
  margin-bottom: 24px;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3px;
  margin-bottom: 16px;
}

form .half .item input, form .half-2 .item-2 input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full textarea {
  outline: 0;
  border: 1px solid white;
  border-radius: 4px;
  background: transparent;
  width: 100%;
  padding: 12px 16px;
  font-size: 17px;
  height: 100px;
  resize:  none;
}

form .action {
  margin-bottom: 32px;
  text-align:  center;
}

form .action input {
  background: transparent;
  border-radius:  4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 20px;
  margin-right: 10px;
}

form .icons {
  text-align: center;
}

form .icons a {
  border: 1px solid white;
  font-weight: bold;
  border-radius: 50%;
  width: 38px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
}

form .half .item input:focus, form .half-2 .item-2 input:focus, form .full textarea:focus, form .action input[type="submit"]:hover, form .icons a:hover {
  background: rgba(255, 255, 255, 0.08);
}

@media (max.width: 480px) {
  form .half {
    flex-direction: column;
  }

  form .half .item {
    width: 100%;
  }

  form .action {
    display: flex;
    flex-direction: column;
  }

  form .action input {
    margin-bottom: 10px;
    width: 100%;
  }
}
